
      <section id="about">
        <h2 class="advantages">Сильні сторони</h2>   
        <div class="container">

          <ul class="advantages-set list">
            
          <li class="point-set">
            <p class="point-set__figures milkcup"> 
              721
            </p>
          
            <p class="point-set__text"> 
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>

          <li class="point-set cup">
            <p class="point-set__figures cup-icon"> 
             16KG
            </p>
          
            <p class="point-set__text"> 
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>

          <li class="point-set heart">
            <p class="point-set__figures heart-icon"> 
             84
            </p>
          
            <p class="point-set__text"> 
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
           
          
        </ul>
        </div>
      </section>
    