<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Icecream with passion</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./sass/index.scss" />
  </head>
  <body>
            <!--Header+Hero-->
            <section class="hero">
            
              <div class="container">
                <div class="hero-wrapper">
                  <div class="hero-title-wrapper">
                    <h1 class="hero-title">Ice cream made with <span class="hero-second-title">passion</span></h1>
                  </div>
            
                  <div class="hero-btn-wrapper">
                    <ul class="hero-btn-list list">
                      <li class="hero-btn-item">
                        <a href="#products" class="link">
                          <button type="button" class="btn-products">Products</button></a>
                      </li>
                      <li class="hero-btn-item">
                        <a href="#tradition" class="link">
                          <button type="button" class="btn-howitsmade">How it's made?</button>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="circle-wraper">
                  <div class="circle"></div>
                </div>
                
                <div class="ice-cream"></div>
                
              </div>
              
            
            </section>
            
    <script type="module" src="./index.js"></script>
  </body>
</html>
